{% comment %} VCN Reset password {% endcomment %}
<div class="vcn-page" style="max-width:420px;">
  <h1>{{ 'customer.reset_password.title' | t }}</h1>
  <p style="color:rgba(255,255,255,0.5);">{{ 'customer.reset_password.subtext' | t }}</p>

  {% form 'reset_customer_password' %}
    <div class="vcn-form-field">
      <label for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label>
      <input type="password" name="customer[password]" id="ResetPassword" required>
    </div>
    <div class="vcn-form-field">
      <label for="ResetPasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
      <input type="password" name="customer[password_confirmation]" id="ResetPasswordConfirmation" required>
    </div>
    <button type="submit" class="vcn-btn">{{ 'customer.reset_password.submit' | t }}</button>
  {% endform %}
</div>
